<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>

<body style="background-color: linen">
<div th:align="center">
  <form action="#" th:action="@{/user-create}" th:object="${users}" method="post">
    <div>
      <label th:for="name">Name</label>
      <input type="text" th:field="*{name}" id="name" placeholder="enter name">
    </div>
    <br/>
    <div>
      <label th:for="lastName">Last name</label>
      <input type="text" th:field="*{lastName}" id="lastName" placeholder="enter last name">
    </div>
    <br/>
    <div>
      <label th:for="age">Age</label>
      <input type="text" th:field="*{age}" id="age" placeholder="enter age">
    </div>
    <br/>
    <input type="submit" value="Create User">
  </form>
</div>
</body>
</html>